pipeline/pl_child_results.json
{
	"name": "pl_child_results",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.race_lst",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "act_set_session_id",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "session_id",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_round_id",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "round_id",
								"value": {
									"value": "@item().round",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_copy_api_adls_results",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "act_set_session_id",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "act_round_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_http_results",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@concat(variables('session_id'),'/',variables('round_id'),'/', pipeline().parameters.soruce_dataset,'.json?limit=100000')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_sink_race",
									"type": "DatasetReference",
									"parameters": {
										"directory_path": {
											"value": "@concat('bronze/', pipeline().parameters.soruce_dataset,'/',utcNow('yyyyMMdd'))",
											"type": "Expression"
										},
										"file_nm": {
											"value": "@concat(pipeline().parameters.soruce_dataset,'_', item().season, '_', item().round, '.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"race_lst": {
				"type": "Array"
			},
			"soruce_dataset": {
				"type": "string"
			}
		},
		"variables": {
			"session_id": {
				"type": "String"
			},
			"round_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}